@import "tailwindcss";

@theme {
	--default-transition-duration: 300ms;
	--default-transition-timing-function: ease-out;
}

@layer base {
	body {
		@apply text-sm md:text-base leading-relaxed bg-white text-gray-900;
	}
}

@utility app-container {
	width: 100%;
	max-width: 85.5rem;
	margin-inline: auto;
	padding-inline: 0.75rem;

	@media (width >= 48rem) {
		padding-inline: 1.5rem;
	}
}

.testimonial-bullet {
	display: block;
	width: 0.625rem;
	height: 0.625rem;
	border-radius: 9999px;
	background: #bfdbfe;
	cursor: pointer;
	transition: all 0.2s;
}

.testimonial-bullet-active {
	width: 1.5rem;
	background: #2563eb;
}
